body {
  background-image: url(sky1.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.enterCity {
  display: block;
  color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(231, 200, 200);
  max-width: 650px;
  margin: 20px auto;
  border: 1px solid white;
  padding: 30px;
}

.dayToday {
  color: #bdc0c4;
  font-size: 20px;
  line-height: 25px;
  margin-left: 20px;
  margin-bottom: 3px;
}
.desc {
  color: #bdc0c4;
  font-size: 20px;
  line-height: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.tem {
  background-color: aliceblue;
  width: 40px;
}

.col-2 {
  text-align: center;
  font-size: 20px;
}
li {
  color: #d0d1d1;
  font-size: 18px;
  line-height: 16px;
  font-weight: 300;
  padding-left: 9px;
  padding-top: 6px;
  list-style: none;
}

h1 {
  margin: 40px 20px auto;
}
.weatherNow {
  font-size: 60px;
  margin-right: 0px;
  width: auto;
}

.day1 {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}
.humWid {
  text-align: center;
}

ul {
  padding-left: 0%;
  margin-top: 15px;
}
.WeatherForecast {
  margin: 40px auto;
}
.tempd {
  margin-top: 5px;
}
.weatherNow .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  padding: 0px;
}

.weather-temperature .active {
  color: rgb(235, 231, 231);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast-temperature-min {
  color: #bdc0c4;
}
